__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

.env
.env.*
!.env.template
!*.env.template

.DS_Store
Thumbs.db

.vscode/
.idea/
*.iml

app/android/.gradle/
app/android/.idea/
app/android/build/
app/android/local.properties
app/android/key.properties
app/android/app/src/dev/google-services.json
app/android/app/src/prod/google-services.json

firmware/.pio/

vendor/omi/backend/_temp/
